:root{
    --primary-color: #1572D3;
}

nav{
    width: 100vw;
    
}

span{
    color: var(--primary-color);
}



.hero_back_main_img::after{
    content: '';
    position: absolute;
    top: -41.5%;
    right: 0;
    width: 100%;
    z-index: -1;
    height: 143%;
    background-image: url(../../assests/home/Home\ left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
    



.hero-title, .hero-para{
    max-width: 400px;
}

input{
    outline: 0;
    border: 0;
}

.location{
    background-color: white;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.116);
    font-size: 0.9rem;
}

.location .col{
    border-right: 1px solid #14141449;
}

@media screen and (min-width: 785px){
    .hero{  
        margin-left: 10vw !important;
    }
}




@media screen and (max-width: 385px) {
    .hero{  
        margin-left: 4vw;
    } 

    input{
        width: 7rem;
    }

    nav{
        background-color: white;
    top: 0;
    margin-top: 0 !important;
    }

    .mobile{
        width: 100vw;
        margin: auto;
        bottom: 5rem;
        left: 0;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.096);
    }

    
}